{% block doc -%}
<!DOCTYPE html>
<html lang="en">
{%- block html %}
<head>
{%- block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FavShow REST API Content Panel</title>
{%- block styles %}
  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
{%- endblock styles %}
{%- endblock head %}
</head>
{% block body -%}
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
{% block navbar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-tv"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ShowRoom</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">
          <i class="fas fa-fw fa-table"></i>
          <span>Контент панель</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-folder"></i>
          <span>Каналы</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Стриминг:</h6>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='NETFLIX') }}">Netflix</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='AMAZON') }}">Amazon Prime</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='HBO') }}">HBO Go</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='DISNEY') }}">Disney Plus</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='APPLE-TV') }}">Apple TV</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='HULU') }}">Hulu</a>
            <h6 class="collapse-header">Кабельное:</h6>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='FX') }}">FX</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='AMC') }}">AMC</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='CBS') }}">CBS</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='SHOWTIME') }}">Showtime</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='THE-CW') }}">CW</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='FOX') }}">FOX</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='SYFY') }}">SyFy</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='ABC') }}">ABC</a>
            <a class="collapse-item" href="{{ url_for('streamservice', service_name='BBC') }}">BBC</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('users_info') }}">
          <i class="fas fa-fw fa-users"></i>
          <span>Пользователи</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('analytics') }}">
          <i class="fas fa-fw fa-sitemap"></i>
          <span>Аналитика</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" id="apiuilink" href="{{ url_for('/api./api_swagger_ui_index') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>REST UI</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">
          <i class="fas fa-window-close fa-cog"></i>
          <span>Выход</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
{%- endblock navbar %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
    </br>
      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- CONTENT OF PAGES -->
          {% block content -%}
          {%- endblock content %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>&copy; the Doors team for General Satellite</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
{% block scripts %}
  <!-- Bootstrap core JavaScript-->
  <script src="static/js/home.js"></script>
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>
{%- endblock scripts %}
{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}