{% extends 'template.html' %}
{% block styles %}
  <!-- Custom fonts for this template-->
  <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="../../static/vendor/jquery/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
{% endblock %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">ID - {{ usercode }}</h1>
  </div>

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Любимый сервис</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ most_frequent_service }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-tv fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Любимый жанр</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ most_frequent_genre }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-eye fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Всего в ожидании</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_shows }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-star fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Любимая страна производства</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ most_frequent_country }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-map-marker fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">В ожидании у {{ usercode }}</h6>
            </div>
        <div class="card-body">
        <div class="table-responsive">
                <div class="shows">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Постер</th>
                        <th>Название</th>
                        <th>Сезон</th>
                        <th>RARS</th>
                        <th>Сервис</th>
                        <th>Серии</th>
                        <th>Рейтинг</th>
                        <th>Состояние</th>
                        <th>В ролях</th>
                        <th>Описание</th>
                        <th>Реклама</th>
                        <th>Когда</th>
                        <th>Трейлер</th>
                        <th>Дата выхода</th>
                        <th>Страна</th>
                        <th>Жанр</th>
                        <th>Продолжит</th>
                        <th>Серии</th>
                        <th>Канал</th>
                        <th>Доп1</th>
                        <th>Доп2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shows in shows_waitlist %}
                        <tr>
                            <td><img src="{{ shows.poster }}" alt="{{ shows.poster }}" style="width:90px;height:130px;"></td>
                            <td>{{ shows.title }}</td>
                            <td>{{shows.title_season}}</td>
                            <td>{{shows.restricty}}</td>
                            <td>{{shows.selectservice}}</td>
                            <td>{{shows.num_of_series}}</td>
                            <td>{{shows.kp_rating}}</td>
                            <td>{{shows.flag_status}}</td>
                            <td>{{shows.actors}}</td>
                            <td style="font-size: 0;">{{shows.description}}</td>
                            <td>{{shows.advertise}}</td>
                            <td style="font-size: 0;">{{shows.whenontv}}</td>
                            <td style="font-size: 0;">{{shows.trailer}}</td>
                            <td>{{shows.release_date}}</td>
                            <td>{{shows.country}}</td>
                            <td>{{shows.genre}}</td>
                            <td>{{shows.serial_duration}}</td>
                            <td style="font-size: 0;">{{shows.series_list}}</td>
                            <td>{{shows.tv_channel}}</td>
                            <td style="font-size: 0;">{{shows.temp_col1}}</td>
                            <td style="font-size: 0;">{{shows.temp_col2}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../static/js/sb-admin-2.min.js"></script>
    {% endblock %}